<% include partials/header %>
  <body>
    <% include partials/nav %>

    <div class="container">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <%# Parsing 'items' JSON string %>
          <% var items = JSON.parse(items); %>
          <%# Looping through 'items' object %>
          <% for(i=0; i<items.length; i++) { %>
            <tr>
              <th scope="row"><%= items[i].id %></th>
              <td><%= items[i].first_name %></td>
              <td><%= items[i].last_name %></td>
              <td><%= items[i].email %></td>
              <td>
                <a href="/edit-item?id=<%= items[i].id %>" class="btn btn-warning">Edit</a>
                <a href="/delete-item?id=<%= items[i].id %>" class="btn btn-danger">Delete</a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>

  </body>
</html>
